<div class="pie-chart-wrapper">
  <div class="chart-section">
    <div class="chart-container">
      <canvas 
        baseChart
        class="chart-canvas"
        [data]="pieChartData"
        [options]="pieChartOptions"
        [type]="pieChartType"
        [legend]="pieChartLegend"
        [plugins]="pieChartPlugins">
      </canvas>
      
      <div class="chart-center-info" *ngIf="data && data.length > 0">
        <div class="total-amount">
          {{ getTotalAmount() | currency:'USD':'symbol':'1.0-0' }}
        </div>
        <div class="total-label">Total Expenses</div>
      </div>
    </div>
  </div>

  <div class="legend-section" *ngIf="data && data.length > 0">
    <div class="legend-header">
      <h4>Categories</h4>
    </div>
    <div class="legend-items">
      <div 
        class="legend-item" 
        *ngFor="let item of data; trackBy: trackByCategory"
        [class.top-category]="item === getTopCategory()">
        <div class="legend-color" [style.backgroundColor]="item.color"></div>
        <div class="legend-content">
          <div class="legend-name">{{ item.category }}</div>
          <div class="legend-details">
            <span class="legend-amount">{{ item.amount | currency:'USD':'symbol':'1.0-0' }}</span>
            <span class="legend-percentage">{{ item.percentage.toFixed(1) }}%</span>
          </div>
        </div>
        <mat-icon class="top-indicator" *ngIf="item === getTopCategory()">trending_up</mat-icon>
      </div>
    </div>
  </div>
</div>
